<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://unpkg.com/vue"></script>
  <link href="../reset.css" rel="stylesheet">
</head>
<body>

<div id="login-example">
  <user-login></user-login>
</div>


<script type="text/x-template" id="login-template">
  <div id="login-template">
    <div>
      <input type="text" placeholder="ログインID" v-model="userId">
    </div>
    <div>
      <input type="password" placeholder="パスワード" v-model="password">
    </div>
    <button @click="login()">ログイン</button>
  </div>
</script>

<script>
  Vue.component('user-login', {
      template: '#login-template',
      data: function() {
          return {
              userId: '',
              password: ''
          }
      },
      methods: {
          login: function() {
              auth.login(this.userId, this.password)
          }
      }
  });

  var auth = {
     login: function(id, pass) {
         window.alert("userId:" + id + "\n" + "password:" + pass)
     }
  };

  new Vue({
      el: '#login-example'
  })
</script>
</body>
</html>